body{
    background-image: linear-gradient(to bottom right, rgb(146, 211, 255), white);
    background-size: cover;
    height:100vh;
    display: flex;
   /* justify-content: center;
	align-items: center;*/
	font-family: 'Reboto',sans-serif; 
 /*background-color: #9AD1ED;*/
}

.advertencia{
	color: red;
	background: #cccccc;
	padding: 0.1em;
	display: none;
}

.loading-image{
	width: 10vw;
	
}

/*.principal{
	display: flex;
    justify-content: left;
	align-items:left;*/


.tituloPrincipal{
    font-size: 2em;
	text-align: center;
	font-weight: bold;
	font-family: 'Lato', Times, serif;
	color: aliceblue;
	

}
.titulo1{
	font-size: 2em;
	
	font-weight: bold;
	font-family: 'Lato', Times, serif;
	color: #2C3E50

}

.contenedor{
	width: 100vw;
	height: auto;
	text-align: center;
	background: rgb(231, 154, 9)
}
* {
    margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

html {
    font-size: 16px;
	font-family: 'Lato', sans-serif;
}


.login__container {
	background-color:#EFEFEF;
	width: 35vw;
    height: auto;
	margin-left: 30vw;
	justify-content: center;
	align-items: center;
	margin-top: 2vw;

}

@media only screen and (max-width: 768px) {
    .login__container {
        width: 90vw;
        margin-left: 5vw;
	}
	.contenedor,.divSeguido{
		width: 90vw;
        margin-left: 5vw;
	}
	.contenedor_oficial{
		width: 95vw;
		height: auto;
		
	}
	
}
@media screen and (max-width: 450px){
	.contenedor_menu{
		margin:0;
		width: 100%;
		position: fixed;
	}
}


.login__top {
	background-color: rgb(255, 255, 255);
	border-top: solid .5rem #F39B53;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1.2rem 0;
}

.login__img {
	width: 4rem;
	margin-right: 1rem;
}
.titulo_img{
	width: 4rem;
	margin-right: 1rem;
	margin-left: 1rem;
}

.login__title {
	color: rgb(231, 228, 228);
}

.login__title span {
	color: #F39B53;
}

.login__form {
	background: #EFEFEF;
	display: flex;
	flex-direction: column;
	padding: .5rem 2rem 2rem;
	text-align: center;
}

input[type=text], [type=password] {
	margin: .4rem 0;
	padding: .5rem;
	border: none;
	border-bottom: solid 0.2rem #C8C8C8;
	background: #EFEFEF;
	transition: all .4s
}

input[type=text]:focus, [type=password]:focus {
	outline: none;
	border-bottom: solid 0.2rem #E67E22;
	
}

.btn__submit {
	border: none;
	padding: .5rem 0;
	margin: 1rem 0 .3rem;
	background-color: #31B1E5;
    color: white;
	width: 90%;
	text-align: center;
	margin-bottom: 0.35em;
}

.loading-div{
	background-color: white;
	width: 90%;
	text-align: center;
	display: none;
}

.btn__submit:disabled,
.btn__submit[disabled]{
  
  background-color: #cccccc;
  color: #666666;
}

.form__recover {
	color: #F39B53;
	font-size: 13px;
	text-decoration: none;
}

.form__recover:hover {
	color: #E67E22;
}


.divSeguido{
    display: inline-block;   
    width: 20vw;
    margin-left: 10%;
	margin-right: 10%;
	background-color: #E67E22
}
.contenedorCuadrado{
    display: inline-block; 
width: 30vw;
text-align: left;
background:rgb(212, 145, 0);
height: 10vw;
padding:40px;
border:10px solid rgb(0,128,128);

}
.register_container {
    background-color: rgb(255, 255, 255);
	border-top: solid .5rem #F39B53;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1.2rem 0;
}

.button_form{
    width: 100%;
}
.contenedor_grilla
{
	
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1.2rem 0;	
}
.contenedor_oficial{
    background-color: rgb(255, 255, 255);
	width:auto;
    height: auto;
	margin-left: 10vw;
	margin-right: 10vw;

}

/** {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
  }*/ 
	/*#header
       {
        margin:auto;
  
        font-family:Arial, Helvetica, sans-serif;
       }*/
  /*    ul, ol {
         list-style:none;
		}
		
		
      .content li a {
         background:rgb(228, 112, 4);
         color :#fff;
        text-decoration:none;
         padding:20px 15px;
         display:block;
       }
      .content li a :hover{
        background-color:#434343;
        }
       
        .content li ul{
         display:none;
         position:absolute;
         min-width:140px;
        }
        .content li:hover > ul {
          display:block;
        }
        .content li ul li {
          position:relative;
        }
       /* .content li ul li ul {
          right:-140px;
          top:0px;
				}*/
		/*	.content a:hover {
				background: #2C3E50;
			}
	.btn_menu {
				display:none;
				padding:2vw;
				background: rgb(27, 67, 105)
				#EFEFEF;
				margin-top: 10%;
			}  
	.btn_menu .icono{
		float: right;
	}
 .contenedor_menu {
	width:20%;
	 min-width:300px;
	 margin: 50px;
	 display:inline-block;
	 font-family: 'Reboto',sans-serif;  
	 line-height: 18px;
	 
 }
 .contenedor_menu .content{
	 width: 100%;
 }
.contenedor_menu .content .icono{
	font-size:12px;
	line-height:18px;
} 
.contenedor_menu .content .icono.izquierda {
	 float:left;
	 margin-right:10px;
}
.contenedor_menu .content .icono.derecha {
	float: right;
	margin-left: 10px;
}
.contenedor_menu .content ul li a {
background: #434343;
}
.contenedor_menu .content .submenu > a:hover{
 background: #31B1E5; 

}
.contenedor_menu .content ul li a:hover {
	background:black;
	}*/
 
	.collapsible {
		background-color: #F39B53;
		color: white;
		cursor: pointer;
		padding: 18px;
		width: 100%;
		height: 5vw;
		border: none;
		text-align: left;
		outline: none;
		font-size: 15px;
	  }
	  
	  .active, .collapsible:hover {
		background-color: #555;
	  }

	

	  .content  {
		  padding:0%;
		display: none;
		overflow: hidden;
		background-color: #2d89a0;
		color: #EFEFEF;
	  }
	  .active,.content :hover > ul {
		display:block;}
	 
		.active,.content li a {
			background-color: #2C3E50;
			color :#fff;
		   text-decoration:none;
			padding:20px 15px;
			display:block;}
	
	  .active,.content :hover {
		background-color: rgb(24, 203, 248);

	  }
	  table {     font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
		font-size: 12px;    
		margin: 45px;     
		width: 480px;
		 text-align: left;   
		 border-collapse: collapse; 
		}
	th {     font-size: 17px;     font-weight: normal;     padding: 8px;     
		background: #2C3E50;
			border-top: 4px solid #aabcfe;   
			 border-bottom: 1px solid #fff;
              color: #e8edff;
              border: 1px solid; }
            td {
                 padding: 12px;     background: #e8edff;     border-bottom: 1px solid #fff;
    color: #669;   border-top: 1px solid transparent;
                border: 1px solid;
            }
	  
	 
