.hidden{
	display: none;
}

.newSesion{
	border: #2C3E50 0.1em;
	width: 10vw;
	text-align: center;
	margin-bottom: 0.5em;
	margin-left: 35%;
}

.myGrid {
    width: 50vw;
    height: 1vw;
  }

.newSesion input{
	width: 2.5vw;
	height: 2.5vw;
	transition-duration: .4s;
}

.entrega-div{
	margin-top: 0.5em;
	background-color: rgb(245, 246, 248);
	border:solid 2px rgb(104, 104, 103);
}

.tableHeader{
	text-align: center;
	font-size: 2em;
}

.sesionButton{
	padding: 0.3em;
	font-size: 0.7em;
	background-color: rgb(160, 211, 231);
}

.isSelected{
	font-size: 1.5em;
	background-color: #31B1E5;
}

.newSesion input:hover{
	filter: brightness(120%);
}

.biggerCell{
	width: 100%;
	height: 100%;
}

.cell{
	display: inline-block;
	
	text-align: center;
	border: #2C3E50 solid 0.05em;
	padding: 0.5em;
}

.green{
	background-color:rgb(0, 255, 21);
}

.red{
	background-color: rgb(255, 0, 0);
	color: white;
}

.newProducto{
	border: #2C3E50 0.1em;
	width: 10vw;
	text-align: center;
	margin-bottom: 0.5em;
	margin-left: 35%;
}

.newProducto input{
	width: 2.5vw;
	height: 2.5vw;
	transition-duration: .4s;
	filter: hue-rotate(180deg);
}

.newProducto input:hover{
	filter: hue-rotate(160deg);
}

body{
    background-image: linear-gradient(to bottom right, rgb(203, 227, 243), white);
    background-size: cover;
    height:100vh;
    display: flex;
   /* justify-content: center;
	align-items: center;*/
	font-family: 'Reboto',sans-serif; 
 /*background-color: #9AD1ED;*/
}

.advertencia{
	color: red;
	background: #cccccc;
	padding: 0.1em;
	display: none;
}

.loading-image{
	width: 10vw;
	
}

.main-loading{
	width: 100vw;
	height: 70vw;
	text-align: center;
	background-image: url("../assets/mainLoading.gif");
	z-index: 1;
	position: absolute;
	
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#mainGif{

	width: 20vw;
	height: 20vw;
}
#secondGif{
	
	width: 5vw;
	height: 5vw;
}

.tituloPrincipal{
    font-size: 2em;
	text-align: center;
	font-weight: bold;
	font-family: 'Lato', Times, serif;
	color: aliceblue;
	

}
.titulo1{
	font-size: 2em;
	
	font-weight: bold;
	font-family: 'Lato', Times, serif;
	color: #2C3E50

}

.contenedor{
	width: 100vw;
	height: auto;
	text-align: center;
	background: rgb(231, 154, 9)
}
* {
    margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

html {
    font-size: 16px;
	font-family: 'Lato', sans-serif;
}


.login__container {
	background-color:#EFEFEF;
	width: 35vw;
    height: auto;
	margin-left: 30vw;
	justify-content: center;
	align-items: center;
	margin-top: 2vw;
	border:solid rgb(255, 94, 36) 2px ;

}

@media only screen and (max-width: 768px) {
    .login__container {
        width: 90vw;
        margin-left: 5vw;
	}
	.contenedor,.divSeguido{
		width: 90vw;
        margin-left: 5vw;
	}
	.contenedor_oficial{
		width: 95vw;
		height: auto;
		
	}
	
}
@media screen and (max-width: 450px){
	.contenedor_menu{
		margin:0;
		width: 100%;
		position: fixed;
	}
}


.login__top {
	background-color: rgb(255, 255, 255);
	border-top: solid .5rem #F39B53;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1.2rem 0;
}

.login__img {
	width: 4rem;
	margin-right: 1rem;
}
.titulo_img{
	width: 4rem;
	margin-right: 1rem;
	margin-left: 1rem;
}

.login__title {
	color: rgb(231, 228, 228);
}

.login__title span {
	color: #F39B53;
}

.login__form {
	background: #EFEFEF;
	display: flex;
	flex-direction: column;
	padding: .5rem 2rem 2rem;
	text-align: center;
}

input[type=text], [type=password] {
	margin: .4rem 0;
	padding: .5rem;
	border: none;
	border-bottom: solid 0.2rem #C8C8C8;
	background: #EFEFEF;
	transition: all .4s
}

input[type=text]:focus, [type=password]:focus {
	outline: none;
	border-bottom: solid 0.2rem #E67E22;
	
}

.btn__submit {
	border: none;
	padding: .5rem 0;
	margin: 1rem 0 .3rem;
	background-color: #31B1E5;
    color: white;
	width: 40%;
	text-align: center;
	margin-bottom: 0.35em;
}

.loading-div{
	background-color: white;
	width: 90%;
	text-align: center;
	display: none;
}

.btn__submit:disabled,
.btn__submit[disabled]{
  
  background-color: #cccccc;
  color: #666666;
}

.form__recover {
	color: #F39B53;
	font-size: 13px;
	text-decoration: none;
}

.formSesion{
	width: 40vw;
	font-size: 0.5em;
}

.formSesion div{
	text-align: center;
}

.form__recover:hover {
	color: #E67E22;
}


.divSeguido{
    display: inline-block;   
    width: 20vw;
    margin-left: 10%;
	margin-right: 10%;
	background-color: #E67E22
}

.simplelabel{
	font-size: 0.8em;
	float:right;
}

.colapsableButton{
	background-color: #38d8e4;
	padding: .5rem ;
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
		font-size: 14px; 
		color: rgb(34, 37, 71);
		border: solid 1px rgb(34, 37, 71);
}

.contenedorCuadrado{
    display: inline-block; 
width: 30vw;
text-align: left;
background:rgb(212, 145, 0);
height: 10vw;
padding:40px;
border:10px solid rgb(0,128,128);

}
.register_container {
    background-color: rgb(255, 255, 255);
	border-top: solid .5rem #F39B53;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1.2rem 0;
}

.button_form{
    width: 100%;
}
.contenedor_grilla
{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1.2rem 0;	
	
	width: 70%;
}
.contenedor_oficial{
    background-color: rgb(255, 255, 255);
	width:auto;
    height: auto;
	margin-left: 15vw;
	margin-right: 15vw;
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
		font-size: 16px; 
		align-items: center;
		justify-content: center;
	

}

	.collapsible {
		background-color: rgb(34, 37, 71);
		color: white;
		cursor: pointer;
		padding: 8px;
		width: 16%;
		height: 3vw;
		border:none;
		text-align: left;
		outline: none;
		font-size: 18px;
	  }
	  
	  .active, .collapsible:hover {
		background-color: #555;
	  }

	  .content  {
		  padding:0%;
		display: none;
		overflow: hidden;
		background-color: #2d89a0;
		color: #EFEFEF;
		width: 20%;
	  }
	  .active,.content :hover > ul {
		display:block;}
	 
		.active,.content  button {
			background-color: #2C3E50;
			color :#fff;

		   text-decoration:none;
			padding:0.1em;
			display:block;}
	
	  .active,.content :hover {
		background-color: rgb(253, 142, 14);
		border: solid 1px white;
		padding: .5rem ;
		font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;

	  }
	  table {     font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
		font-size: 12px;    
		margin: 45px;     
		width: 480px;
		 text-align: left;   
		 border-collapse: collapse; 
		}
	th {     font-size: 17px;     font-weight: normal;     padding: 8px;     
		background: #2C3E50;
			border-top: 4px solid #aabcfe;   
			 border-bottom: 1px solid #fff;
              color: #e8edff;
              border: 1px solid; }
            td {
                 padding: 12px;     background: #e8edff;     border-bottom: 1px solid #fff;
    color: #669;   border-top: 1px solid transparent;
                border: 1px solid;
			}
		.materiasDiv{
			width:  45vw;
			display: flex;
			justify-content: center;
			align-items: center;
			margin-left: auto;
			margin-right: auto;
			border:solid 2px;
			margin-top: 1vw;

			}
	.mainContainer{
		height: 100%;
        padding: 20px;
		color:#2C3E50;
		font-size: 30px;
	}
	label{
		text-align: left;
		font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
		
	}
	.sesionDiv{
		border:solid 2px black;
		padding: 1vw;
		background-color: white;
		color:black;
		font-size: 18px;
		margin-bottom: 3vw;
		width: 40vw;
	}
	.productDiv{
		border:solid 2px rgb(104, 104, 103);
		padding: 1vw;
		background:linear-gradient(to bottom right, rgb(170, 199, 219), white);
		color: black;
		font-size: 15px;
		margin-bottom: 1vw;

	}
.centered-div{
	margin-left: 40vw;
}
	.cabecera{
		width: 75%;
		height:6.5vw;
		margin-right: 10vw;
		margin-left: 10vw;
	}
	 
  
.tituloP{
	font-size: 2em;
 background-color: rgb(251, 252, 253);
	font-weight: bold;
	font-family: 'Lato', Times, serif;
	color: #2C3E50;
	width: 100vw;
	height: 10%;
	margin-bottom: 2vw;
	
}
.imagenPublica{
	display: inline-block;
	width: 50%;
	height: 38%;
}
.parrafo{
	font-size: 20px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	float:center;

}
.publicaContenedor{
	margin-top: 1vw;
	 width: 70%;
	 background-color:#e9e7e7; 
	 margin-left: 15vw;
}
.parrafo{
	margin-left: 15vw; 
	width: 70%;
	background-color:#e9e7e7;
	 margin-bottom: 2vw;
}
.fondoP{
	width: 100%;
	
}

.createButton{
	width: 3vw;
	height:3vw;
	align-items: center;
	transition-duration: 2s;
}

.nuevaEntidad{
	margin-top: 1em;
	height: 3vw;
	width: 3vw;
	transition-duration: 2s;
	margin-left: 47%;
}

.nuevaEntidad button{
	display: none;
	width: 7vw;
	background: #093ce6;
	color: rgb(244, 248, 252);
	padding: 0.5em;
	font-weight: bold;
	border: none;
	border-radius: 0.5em;
	transition-duration: 2s;
	margin-left: -1.5vw;
}

.nuevaEntidad:hover .createButton{
	display: none;
	transition-duration: 2s;
}

.nuevaEntidad:hover button{
	display: block;
	transition-duration: 2s;
}

.formularioDocente{
	width: 100%;
	margin-left: 40%;
}
.fielset{
	max-width: 55%;    
            margin: 18px auto;
            color:blue;
}
.crearMateria{
	width: 50%;
	margin-left: 20vw;
	margin-left: 20vw;
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 16px;
	border:solid 2px black;
		padding: 1vw;
		background-color: white;
		color:black;
		margin-bottom: 3vw;

}
.divCrearGrupo{
	align-content: center;
	width: 35%;
	margin-left: 30%;
	padding: 0.3vw;
	margin-bottom: 1vw;
	color: #2C3E50;
}

#crear-grupo{
	width: 5vh;
	height: 5vh;
	margin-left: 49vw;
	margin-top: 2vw;
}

.button{
	border: none;
	padding: .5rem ;
	margin: 1rem 0 .3rem;
	background-color: #31B1E5;
    color: white;
	margin-left: 1vw;
	text-align: center;
	margin-bottom: 0.35em;
	font-size: 16px;
	border: solid 1px rgb(9, 4, 75);
}

.info-sesion{
	display: inline-block;
	width: 80%;
}

.file-docente{
	font-size: 0.8em;
	text-align: center;
}

.button1{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	padding: .5rem ;
	margin: 1rem 0 .3rem;
	background-color: rgb(9, 4, 75);
    color: white;
	text-align: center;
	margin-bottom: 0.35em;
	font-size: 13px;
	border: solid 1px white;
}
.buttonSend{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	padding: .5rem ;
	margin: 1rem 0 .3rem;
	background-color: #31B1E5;
    color: white;
	text-align: center;
	margin-bottom: 0.35em;
	font-size: 13px;
	border: solid 1px white;
	margin-left: 14vw;

}
.buttonReporte{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	padding: .5rem ;
	margin: 1rem 0 .3rem;
	background-color: #31B1E5;
    color: white;
	text-align: center;
	margin-bottom: 0.35em;
	font-size: 13px;
	border: solid 1.5px white;
	
}