<div id="main-load-div" class="main-loading">
    <img id="secondGif" src="../assets/cargando.gif" />
</div>
<div ng-if="user.rol === 'administrador'" ng-include="'/shared/header_administrador.html'" style="width: 100vw;"></div>
<div class="titulo1" style="margin-left: 20vw;">
    Crear Materia :
</div> 
<div class="crearMateria" style="background: beige">
    <div class="listaMaterias" style="background: beige;">
        <h2>Materias Registradas :</h2>
        <ul>
            <li ng-repeat="materia in materias">{{materia.nombre}}<a href=""> Editar</a></li>
        </ul>
        <div nf-if="materias.length == 0" style="text-align: center">
            AUN NO EXISTEN MATERIAS REGISTRADAS, USE EL SIGUIENTE BOTON PARA REGISTRAR UNA.
        </div>
    </div>
    <div class="nuevaMateria" id="crear-materia">
        <input type="image" src="./assets/plus.png" title="Crear nueva materia" ng-click="mostrarForm()" class="createButton"/>
        <button ng-click="mostrarForm()">Crear nueva materia</button>
    </div>
    <div class="sesionDiv hidden" id="form-materia">
        <form autocomplete="off">
            Nombre de la materia:<br>
            <input type="text" name="nombreMateria" id="nombre">
            <br>
            Codigo Materia:<br>
            <input type="text" name="codigoMateria" id="siglas">
            <br><br>
            <div class="loading-div" id="loading">
                <img src="./assets/loading.gif" class="loading-image"/>
            </div><br>
            <button ng-click="guardar()" type="submit" id="guardar">Guardar</button>
            <button ng-click="ocultarForm()">Cancelar</button>
        </form>
    </div>
</div>
