<div id="main-load-div" class="main-loading">
        <img id="secondGif" src="../assets/cargando.gif" />
</div>
<div ng-if="user.rol === 'docente'" ng-include="'/shared/header_docente.html'" style="width: 100vw;"></div>
<div class="entregaEstudiante" style="margin-bottom: 1vw; padding: 1.2rem 0;">
        <div>
                <div>
                        <label align="right">Nombre(s):</label>
                        <input type="text" disabled value="{{estudiante.nombre}}">
                </div>
               <div>
                    <label align="right">Apellidos:</label>
                    <input type="text" disabled value="{{estudiante.apellido}}">
               </div>

                <div>
                   <label align="right">Grupo:</label>
                    <input type="number" disabled value="{{entrega.grupo}}">
                </div>
                <div>
                        <label align="right">Sesion:</label>
                        <input type="number" disabled value="{{entrega.numeroSesion}}"> 
                </div>
                <div>
                        <label align="right">Producto:</label>
                        <input type="number" disabled value="{{entrega.numeroProducto}}">
                </div>
               <div>
                    <label align="right">Fecha:</label>
                    <input type="date" disabled value="{{entrega.fecha}}">
               </div>
                <div>
                        <label align="right">Descripcion:</label>
                        <textarea disabled>{{entrega.descripcion}}</textarea>
                </div>
                <div ng-if="entrega.archivos.length > 0">
                        <label>Archivo adjunto:</label>
                        <a href="/api/descargar/{{entrega.archivos[0].id}}">{{entrega.archivos[0].nombre_archivo}}</a>
                </div>
                <div ng-if="entrega.archivos.length == 0">
                        <label>Archivo adjunto: Ninguno</label>
                </div>
                <div>
                        <button ng-click="atras()"> Aceptar</button>
                </div> 
        </div>
</div>