<div id="main-load-div" class="main-loading">
    
    <img id="secondGif" src="../assets/cargando.gif" />
</div>

<div class="principal"> 
    <div ng-if="user.rol === 'estudiante'" ng-include="'/shared/header_estudiante.html'" style="width: 100vw;"></div>
    <div ng-if="user.rol === 'docente'" ng-include="'/shared/header_docente.html'" style="width: 100vw;"></div>
    <div ng-if="user.rol === 'auxiliar'" ng-include="'/shared/header_auxiliar.html'" style="width: 100vw;"></div>
    <div ng-if="user.rol === 'estudiante'" class="titulo1" style="margin-left: 15vw;">
        Sesion Estudiante :{{user.nombre}} {{user.apellido}}              
    </div>
    <div ng-if="user.rol === 'auxiliar'" class="titulo1" style="margin-left: 15vw;">
            Sesion Auxiliar :{{user.nombre}} {{user.apellido}}              
        </div>
    <div ng-if="user.rol === 'docente'" class="titulo1" style="margin-left: 15vw;">
        Sesion Docente :{{user.nombre}} {{user.apellido}}            
    </div>
<div ng-if="user.rol === 'estudiante'" class="contenedor_grilla">
    <div="titulo1" style="font-size: 25px;">
             <strong>Grilla de Horarios</strong>
    </div>
    <div ng-if="user.rol === 'estudiante'" class="" style="margin-left: 20vw;">
        <table >
            <tr>
                <th>Materia</th>
                <th>Grupo</th>
                <th>Docente</th>
                <th>Auxiliar</th>
                <th>Hora</th>
                <th>Dia</th>
            </tr>
        
            <tr ng-repeat="oferta in ofertas">
                <td>{{oferta[2].nombre}}</td>
                <td>{{oferta[0].grupo}}</td>
                <td>{{oferta[1].nombre}} {{oferta[1].apellido}}</td>
                <td>{{oferta[3].nombre}} {{oferta[3].apellido}}</td>
                <td>{{oferta[0].hora}}</td>
                <td>{{oferta[0].dia}}</td> 
            </tr>
        </table>
    </div>
    
                 
        
</div>                              
 
               

                    
                    
