<div class="fondoP" style=" width: 100%; height: 100vh;">
    <div class="tituloP">
       Laboratorio de Computo Informatica - Sistemas
      </div>
      <button class="collapsible" ng-click="()">Inicio</button>
      <button class="collapsible" ng-click="iniciarS()">Iniciar Sesion</button>
      <div class="publicaContenedor" style="margin-top: 1vw;" >
            <img class="" src="./assets/inf.jpg" alt="" style="width: 35%;height: 38%;">
            <img class="imagenPublica" src="./assets/Computacion.jpg" alt="">
      </div>
      <div class="parrafo">
          <p>
              <strong>Sistema de control de Sesiones de Laboratorio</strong> <br>
            Dentro la Universidad Mayor de San Simon ,el departamento de Informatica -Sistemas, cuenta con laboratorios de proposito general,
             los que pueden ser utilizados para practicas de los estudiantes sobre todo en niveles basicos, es asi que se est´a trabajando con algunos grupos pilotos para llevar adelante trabajo pr´actico en laboratorio. 
          </p>
      </div>
 
       
             
     </div>
    
    