<div id="main-load-div" class="main-loading">
    <img id="secondGif" src="../assets/cargando.gif" />
</div>
<div ng-if="user.rol === 'docente'" ng-include="'/shared/header_docente.html'" style="width: 100vw;"></div>

<h1 style="margin-left: 20vw;">
    {{complementario.nombreMateria}} grupo: {{complementario.numeroGrupo}}
</h1>
<div class="tablaEntrega">
    <table border="1">
        <thead>
            <td class="tableHeader" colspan="2" style="font-size: 20px;">Estudiantes</td>
            <td class="tableHeader" colspan="3" style="font-size: 20px;">
                Reporte Auxiliar
                <div class="nameAux" style="font-size: 16px;">{{complementario.auxiliar}}</div>
            </td>
            <td class="tableHeader" colspan="{{sesionElegida.productos.length}}">
                Sesion: 
                <div>
                    <button class="sesionButton" ng-repeat="sesion in sesiones" ng-click="cargarProductos(sesion)" id="sesion{{sesion.numero}}"> {{sesion.numero}} </button>
                </div>
                <div class="vencimiento" style="font-size: 12px;">
                    Vencimiento: {{sesionElegida.fecha_caducidad}}
                </div>
                <div ng-if="sesionElegida.cerrado == 1" style="font-size: 20px;">
                  Estado :  Cerrado
                </div>
                <div ng-if="sesionElegida.cerrado == 0" style="font-size: 20px;">
                  Estado :  En curso
                </div>
            </td>
        </thead>
        <thead>
            <tr>
                <th>Apellidos</th>
                <th>Nombres</th>
                <th>Asistio</th>
                <th>Descripcion</th>
                <th>Observacion</th>
                <th ng-repeat = "producto in sesionElegida.productos">Producto :{{producto.numero}}</th>                
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="inscrito in inscritos">

                <td>{{inscrito.apellido}}</td>
                <td>{{inscrito.nombre}}</td>
                <td>
                    <div ng-if="inscrito.sesion.asistencia.asistio == 1" class="cell green">
                        SI
                    </div>
                    <div ng-if="inscrito.sesion.asistencia.asistio == 0 && inscrito.sesion.asistencia" class="cell red">
                        NO
                    </div>
                    <div ng-if="!inscrito.sesion.asistencia" class="cell">
                        Sin Registros
                    </div>
                </td>
                <td>
                    <p ng-if="inscrito.sesion.asistencia">{{inscrito.sesion.asistencia.descripcion}}</p>
                    <div ng-if="!inscrito.sesion.asistencia" class="cell">
                        Sin Registros
                    </div>
                </td>
                <td>
                    <p ng-if="inscrito.sesion.asistencia">{{inscrito.sesion.asistencia.observacion}}</p>
                    <div ng-if="!inscrito.sesion.asistencia" class="cell">
                        Sin Registros
                    </div>
                </td>
                <td ng-repeat = "producto in inscrito.sesion.productos">
                    <div ng-if="producto.entregas.length > 0" class="biggerCell">
                        <div class="cell green">
                            Tiene entrega
                        </div>
                        <div class="cell">
                            <a href="#!verEntrega/{{producto.entregas[0].id}}">Ver</a>
                        </div>
                    </div>
                    <div ng-if="producto.entregas.length === 0" class="biggerCell">
                        <div class="cell red">
                            Sin entrega
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>        
     </table>
     <button class="button1" style="margin-left: 20vw;" ng-click="atras()">Atras</button>
     <style>
         table {
   width: 70%;
   border: 1px solid #000;
   margin-left: 15%;
   
}
th, td {
   width:15%;
   text-align: left;
   vertical-align: top;
   border: 1px solid #000;
   padding: 0.3em;
   caption-side: bottom;
}

th {     font-size: 17px;     font-weight: normal;     padding: 8px;     
		background: #2C3E50;
			border-top: 4px solid #959cb3;   
			 border-bottom: 1px solid #fff;
              color: #e8edff;
              border: 1px solid; }
            td {
                 padding: 12px;     background: #f0f0f1;     border-bottom: 1px solid #fff;
    color: rgb(33, 33, 97);   border-top: 1px solid transparent;
                border: 1px solid;
			}
html {
    font-size: 16px;
	font-family: 'Lato', sans-serif;
}
     </style> 
     
</div>