<div id="main-load-div" class="main-loading">
    <img id="secondGif" src="../assets/cargando.gif" />
</div>
<div ng-if="user.rol === 'docente'" ng-include="'/shared/header_docente.html'" style="width: 100vw;"></div>
<div class="entrega">
<fieldset>
    <div class="busquedaMateria">
        <div>      
            <h2>LISTA DE ESTUDIANTES</h2>
            <br />
            
            <input type="search" id="mySearch" name="q" required size="30" >
            <button>Buscar</button>
            <span class="validity"></span>
        </div>
    </div>
    <div class="tablaEntrega">
        <table border="1">
            <thead>
                <tr>
                    <th> Apellidos</th>
                    <th> Nombres</th>
                    <th> Portafolio</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="entrega in entregas">
    
                    <td>{{entrega.apellido}}</td>
                    <td>{{entrega.nombre}}</td>
                    <td>
                        <a href="#!verEntrega/{{entrega.entregaId}}">Ver Entrega</a>
                    </td>
                </tr>
            </tbody>        
         </table>
    </div>
 </fieldset>
<button ng-click="atras()">Atras</button>    
</div>
        

    


