<div id="main-load-div" class="main-loading">
    
    <img id="secondGif" src="../assets/cargando.gif" />
</div>

<div ng-if="user.rol === 'estudiante'" ng-include="'/shared/header_estudiante.html'" style="width: 100vw;"></div>
<div ng-if="user.rol === 'docente'" ng-include="'/shared/header_docente.html'" style="width: 100vw;"></div>
<div class="centered-div">
    <h1>
        Mis Materias
    </h1>
</div>
<div class="materiasDiv">
    <div>
        <ul>
            <li ng-repeat="inscripcion in inscripciones">
                <a href="#!sesiones/{{inscripcion[0].id}}">{{inscripcion[2].nombre}}</a>
            </li>
        </ul>
        <ul>
            <li ng-repeat="dictada in dictadas">
                <a href="#!sesiones/{{dictada[0].id}}">{{dictada[2].nombre}}</a>
            </li>
        </ul>
    </div>
</div>