<div  ng-include="'/shared/header_estudiante.html'" style="width: 100vw;">

</div>
<div class="materiasDiv">
   
    <div class="mainContainer">
        <label style="text-align: center;">{{oferta[2].nombre}}</label>
        <div ng-repeat="sesion in sesiones" class="sesionDiv">
            <button ng-click="colapsable($event)">
                <label>Sesion:{{sesion.numero}}</label>
                <label ng-if="sesion.cerrado===1" style="color:red;">Cerrado</label>
            </button>
            <div style="display:none">
                <div ng-repeat="producto in sesion.productos" class="productDiv">
                    <button ng-click="colapsable($event)" class="">
                        <label>Producto:{{producto.numero}}</label>
                        <label style="color:red;" id="cerrado{{sesion.id}}{{producto.id}}" class="hidden">Cerrado</label>
                    </button>
                    <div ng-if="producto.entregas.length === 0" style="display:none" class="" style="margin-top: 1vw;">
                        <div id="divCerrado{{sesion.id}}{{producto.id}}" class="hidden">
                            <div>
                                <label>Vencimiento:{{producto.fechaCaducidad}}</label>
                                <div>Descripcion: {{producto.descripcion}}</div>
                            </div>
                            <div>
                                <label>¡SIN ENTREGAS! EL PRODUCTO YA ESTA CERRADO</label>
                            </div>
                        </div>
                        <div id="divAbierto{{sesion.id}}{{producto.id}}" class="hidden">
                            <div>
                                <label>Vencimiento:{{producto.fechaCaducidad}}</label>
                                <div>Descripcion: {{producto.descripcion}}</div>
                            </div>
                            <div id="div-crear-entrega-{{producto.id}}">
                                <label>Cargar Archivo:</label>
                                <input id="file-{{producto.id}}" type="file">
                                <label>Descripción:</label> 
                                <textarea id="descripcion-{{producto.id}}">   </textarea>
                                <button id="enviar" ng-click="enviar(producto.id)">Enviar</button>
                            </div>
                        </div>
                    </div>
                    <div ng-if="producto.entregas.length > 0" style="display:none" class="" style="margin-top: 1vw;">
                        <div>
                            <label>Vencimiento:{{producto.fechaCaducidad}}</label>
                            <div>Descripcion: {{producto.descripcion}}</div>
                        </div>
                        <div>
                            <label>Cargar Archivo:</label>
                            <label>{{producto.entregas[0].nombre_archivo}}.{{producto.entregas[0].tipo}}</label>
                            <label>Descripción:</label> 
                            <p>{{producto.entregas[0].descripcion}}</p>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
            mostrarOcultarProducto();
            console.log("as");
        </script>>
</div>