<div id="main-load-div" class="main-loading">
    
    <img id="secondGif" src="../assets/cargando.gif" />
</div>

<div ng-if="user.rol === 'estudiante'" ng-include="'/shared/header_estudiante.html'" style="width: 100vw;"></div>
<div ng-if="user.rol === 'docente'" ng-include="'/shared/header_docente.html'" style="width: 100vw;"></div>

</div>
<div class="materiasDiv">
   
    <div class="mainContainer">
        <label style="text-align: center;">{{oferta[2].nombre}}</label>
        <label style="text-align: center;">Docente: {{oferta[1].nombre}} {{oferta[1].apellido}} |</label>
        <label style="text-align: center;">Grupo: {{oferta[0].grupo}}</label>
        <div ng-if="user.rol === 'docente'" class="newSesion">
            <div>
                <button class="buttonReporte"ng-click="aReporteGeneral()">Reporte General</button>
            </div> 
            <input type="image" src="./assets/plus.png" title="Crear nueva sesion" ng-click="mostrarFormSesion()" />
        </div>
        <div id="sesionForm" class="formSesion hidden">
            <div>
                <label for="fecha">Fecha de Caducidad:</label>
                <input type="date" name="fecha" min="{{fechaMinima}}"/>
                <div>
                    <label>Cargar Archivo:</label> <br>
                    <input type="file" ng-files="setTheFiles($files)" id="file-sesion">
                </div>
            </div>        
            <div id="crearSesion">
                <button ng-click="crearSesion()">Crear</button>
                <button ng-click="cancelSesion()">Cancelar</button>
            </div> 
            <div class="loading-div" id="loading-sesion">
                <img src="./assets/loading.gif" class="loading-image"/>
            </div>                              
        </div>
        <div ng-repeat="sesion in sesiones" class="sesionDiv">
            <button class="buttonReporte" ng-if="user.rol === 'docente'" ng-click="aReporte(sesion.id)" >Reporte</button>
            <div class="info-sesion">
                <div class="float-right-div">
                    <div class="text-div">
                        Vencimiento:{{sesion.fecha_caducidad}}
                    </div>
                    <div class="hover-dropdown">
                        <div>
                            <div>
                                Tiempo Restante:
                            </div>
                            <div id="contador-{{sesion.id}}">
                                countdown
                            </div>
                        </div>
                        <button ng-if="user.rol === 'docente'" style="background-color: aqua; color:black;">  
                            Editar
                        </button>
                        <button ng-if="user.rol === 'docente'">  
                            Cerra Ahora
                        </button>
                    </div>
                </div>
                <div ng-if = "sesion.archivoAdjunto != undefined" class="file-docente">
                    <label>Archivo Adjunto:</label>
                    <a href="/api/descargar/{{sesion.archivoAdjunto.id}}">{{sesion.archivoAdjunto.nombre_archivo}}</a>
                </div>
            </div>
            <button  ng-click="colapsable($event)" class="colapsableButton">
                <label>Sesion:{{sesion.numero}}</label>
                <label ng-if="sesion.cerrado===1" style="color:red;">Cerrado</label>
            </button>
            <div style="display:none">
                <div ng-if="user.rol === 'docente' && sesion.cerrado != 1" class="newProducto" id="newProducto-{{sesion.id}}">
                    <input type="image" src="./assets/plus.png" title="Crear nuevo producto" ng-click="crearProducto(sesion.id)" />
                </div>
                <div id="productoForm-{{sesion.id}}" class="hidden">
                    <div>
                        <label for="descripcion">Descripcion del Producto:</label>
                        <textarea name="descripcion"></textarea>
                    </div>        
                    <div>
                        <button ng-click="enviarProducto(sesion.id)">Crear</button>
                        <button ng-click="cancelProduct(sesion.id)">Cancelar</button>
                    </div>                               
                </div>
                <div ng-repeat="producto in sesion.productos" class="productDiv">
                    <button class="button1" ng-click="colapsable($event)" class="">
                        <label>Producto:{{producto.numero}}</label>
                        <label ng-if="sesion.cerrado==1 || producto.cerrado==1" style="color:red;">Cerrado</label>
                    </button>
                    <div ng-if="producto.entregas.length == 0" style="display:none" class="" style="margin-top: 1vw;">
                        <div ng-if="sesion.cerrado==1">
                            <div>
                                 
                                <div>Descripcion: {{producto.descripcion}}</div>
                            </div>
                            <div ng-if="user.rol === 'estudiante'" class="entrega-div">
                                <label>¡SIN ENTREGAS! EL PRODUCTO YA ESTA CERRADO</label>
                            </div>
                            <button ng-if="user.rol === 'docente'" ng-click="cargarVerEntregas(producto.id)" class="entregasButton">Ver Entregas</button>
                        </div>
                        <div ng-if="sesion.cerrado==0" >
                            <div>
                                 
                                <div>Descripcion: {{producto.descripcion}}</div>
                            </div>
                            <div ng-if="user.rol === 'estudiante'" id="div-crear-entrega-{{producto.id}}" class="entrega-div">
                                <div>
                                    <label>Cargar Archivo:</label> <br>
                                    <strong style="font-size: 14px">Nota: El archivo debe tener el formato : "producto.zip"</strong> <br>
                                    <input type="file" ng-files="setTheFiles($files)" id="file-{{producto.id}}">
                                </div>
                                <div>
                                    <label>Descripción:</label> 
                                    <textarea id="descripcion-{{producto.id}}">   </textarea> 
                                </div>
                                <button  class="buttonSend" id="enviar-{{producto.id}}" ng-click="enviar(producto.id)">Enviar</button>
                                <div class="loading-div" id="loading-{{producto.id}}">
                                    <img src="./assets/loading.gif" class="loading-image"/>
                                </div>
                            </div>
                            <button ng-if="user.rol === 'docente'" ng-click="cargarVerEntregas(producto.id)" class="entregasButton">Ver Entregas</button>
                        </div>
                    </div>
                    <div ng-if="producto.entregas.length > 0" style="display:none" class="" style="margin-top: 1vw;">
                        <div>
                             
                            <div>Descripcion: {{producto.descripcion}}</div>
                        </div>
                        <div ng-if="user.rol === 'estudiante'" class="entrega-div">
                            <h4>
                                Entrega
                            </h4>
                            <div>
                                <label>Descripción:</label> 
                                <p>{{producto.entregas[0].descripcion}}</p>
                            </div>
                            <div ng-if="producto.entregas[0].archivos.length > 0">
                                <label>Archivo:</label>
                                <a href="/api/descargar/{{producto.entregas[0].archivos[0].id}}">{{producto.entregas[0].archivos[0].nombre_archivo}}</a>
                            </div>
                            <div ng-if="producto.entregas[0].archivos.length == 0">
                                <label>Archivo: Ninguno</label>
                            </div>
                        </div>                        
                        <button ng-if="user.rol === 'docente'" ng-click="cargarVerEntregas(producto.id)" class="entregasButton">Ver Entregas</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>