<div class="" style="width: 100%; background-color:white;margin-bottom: 1vw;">
        <img  class="cabecera" src="./assets/cabcera.jpg" alt="">
  </div>
  <div class="" style="margin-left: 15vw;">
      <button class="collapsible" ng-click="inicioD()">Inicio<i class="far fa-id-badge"></i></button>
    <button class="collapsible" ng-click="materiasD()">Sesiones <i class="fas fa-book-reader"></i></button>
    <button class="collapsible logOutButton" ng-click="logOut()">Cerrar Sesion <i class="fas fa-sign-out-alt"></i></button>
</div>