<button class="collapsible" ng-click="irPrincipal()">Inicio</button>

<button class="collapsible" ng-click="inscribir()">Inscribirse</button>

<button class="collapsible" ng-click="irMaterias()">Mis Materias</button>

<button class="collapsible" ng-click="mostrar_menu($event)">Mi Portafolio</button>
      <ul class="content" style="display:none">                  
            <li><button class="" ng-click="irAgregarPortafolio()" style="width:20vw;">Agregar a Portafolio</button> </li>
            <li><button class="" style="width: 20vw;">Ver Portafolio</button></li>
      </ul>
     <!--   <span class=""></span> -->                                 

